/* MumCentre Style */

/* Typography -------------- */
/* font-face */
@font-face {
    font-family: 'ComfortaaThin';
    src: url('font/Comfortaa_Thin-webfont.eot');
    src: url('font/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Comfortaa_Thin-webfont.woff') format('woff'),
         url('font/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('font/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
    font-weight: normal;
    font-style: normal}
@font-face {
    font-family: 'ComfortaaRegular';
    src: url('font/Comfortaa_Regular-webfont.eot');
    src: url('font/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Comfortaa_Regular-webfont.woff') format('woff'),
         url('font/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('font/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal}
@font-face {
    font-family: 'ComfortaaBold';
    src: url('font/Comfortaa_Bold-webfont.eot');
    src: url('font/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Comfortaa_Bold-webfont.woff') format('woff'),
         url('font/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('font/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal}

body {font-family: Arial, Helvetica, sans-serif}
.custFontR {font-family: 'ComfortaaRegular', Arial, sans-serif;}
.custFontB {font-family: 'ComfortaaBold', Arial, sans-serif;}


/* Global -------------- */
body.athan_pow {color: #333; font-size: 12px; line-height: 120%; margin: 0; padding:0}
a {font-size: 12px; color: #60296C; text-decoration:none}
a:hover {text-decoration: underline}
a img {border: none}
p {margin: 0; margin-bottom: 16px}
ul, ol, dl {padding: 0; margin: 0; list-style-type: none}
h1, h2, h3, h4, h4, h6 {font-weight: normal; margin: 0}

.wrapper {margin: 0 auto; width: 980px}	
.fright {float: right}
.fleft {float: left}

hr {background: #ccc; border: none; height: 1px}
hr.blue	{background: #258eca; height: 2px; margin: 15px 0}

.violet {color: #60296c}
.lblue {color: #258eca}

/* Boxes */
.box {background: #e3f1fa; border: 1px solid #9cc5da; padding: 10px; width: auto; margin-bottom: 15px; overflow: hidden; position:relative}
.box.gray {background: #f0f0f0; border: 1px solid #d6d5d5}
.box.white {background: #fff; border: 1px solid #c2c2c2;}
	
/* Top -------------- */
#top {border-bottom: 1px solid #4c657f; overflow: hidden; padding: 5px 0; position: fixed; left:0; top:0; width: 100%; z-index: 9999;
	background-color: #98cbfe; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#78a3ce), to(#98cbfe));
   background-image: -webkit-linear-gradient(top, #78a3ce, #98cbfe);
   background-image:    -moz-linear-gradient(top, #78a3ce, #98cbfe);
   background-image:     -ms-linear-gradient(top, #78a3ce, #98cbfe);
   background-image:      -o-linear-gradient(top, #78a3ce, #98cbfe)}
#top .wrapper > div,
#top .wrapper > div * {float: left; margin-right: 5px}
#top .user-action {line-height:20px}
#top .user-action p {color: #3e0c46; font-size: 12px; font-weight: bold; text-shadow: 1px 1px 1px rgba(181,218,254,1); line-height:30px}
.btn-rnd {padding: 4px 14px; color: #fff !important; font-weight: bold; text-transform:uppercase;
	background-color: #3e0c46 !important;
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a1266), to(#3e0c46)) !important;
	background-image: -webkit-linear-gradient(top, #5a1266, #3e0c46) !important;
	background-image:    -moz-linear-gradient(top, #5a1266, #3e0c46) !important;
	background-image:     -ms-linear-gradient(top, #5a1266, #3e0c46) !important;
	background-image:      -o-linear-gradient(top, #5a1266, #3e0c46) !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5)}
#top p {margin-bottom:0}
#top .wrapper .subscribe {float: right; margin-right: 0}
#top .subscribe p{color: #fff; font-size: 14px; font-weight: bold; text-align: right}
#top .subscribe p span {color: #470e50; font-size: 10px; display:block; float: none; margin: -4px 0}
#top .social-share ul,
#top .social-share li {margin-right: 0}
#top .social-share li {margin-left: -8px; vertical-align:bottom}

/* Main Area Container -------------- */
#container1 {margin: 50px 0 20px}
#content1 {margin: 20px 0 0; overflow: visible}
#content-main,
#content-side {float: left}
#content-main {width: 660px; margin-right: 20px}
#content-side {width: 300px}

/* Header */
#header {padding-top:10px; padding-bottom:1px}
.branding .logo {float: left; width: 250px; margin: 10px 0}

ul.flags {float: right}
.flags li {float: left; margin-right: 5px}
/*
commented out by jun
.nav {
	border-bottom: 5px solid #d8c8dc; overflow: hidden;
	background-color: #3e0c46 !important;
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a1266), to(#3e0c46)) !important;
	background-image: -webkit-linear-gradient(top, #5a1266, #3e0c46) !important;
	background-image:    -moz-linear-gradient(top, #5a1266, #3e0c46) !important;
	background-image:     -ms-linear-gradient(top, #5a1266, #3e0c46) !important;
	background-image:      -o-linear-gradient(top, #5a1266, #3e0c46) !important;}
.nav ul,
.nav li {float: left}
.nav li {border-right: 1px solid #000; border-left: 1px solid #84648b; height: 50px; padding: 8px 9px}
.nav li:first-child {border-left: none}
.nav li:last-child {border-right: none}
.nav li:hover,
.nav li.selected {background-color: #ae50c5 !important;
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fffed0), to(#ae50c5)) !important;
	background-image: -webkit-linear-gradient(top, #fffed0, #ae50c5) !important;
	background-image:    -moz-linear-gradient(top, #fffed0, #ae50c5) !important;
	background-image:     -ms-linear-gradient(top, #fffed0, #ae50c5) !important;
	background-image:      -o-linear-gradient(top, #fffed0, #ae50c5) !important}
.nav li:last-child:hover {background:none}	
.nav li a {font-size: 16px; color: #fff; display: block; font-weight: bold; line-height: 50px; letter-spacing: 0; text-transform: uppercase; text-shadow: 1px 1px 1x #000; width:100%; height: 100%}
.nav li:hover a,
.nav li.selected a {color:#60296c; text-shadow: 1px 1px 1px #fff; text-decoration: none}
.nav li a span {display:block; margin:-20px 0 0}
.nav li.search-wrap {width:150px; padding: 16px 11px 0}
.nav li.advertise a {line-height: 36px}*/

/* Section Content Area */
#section-head {color: #258eca; border-top: 1px solid #cbcbcb}
#section-head h2 {display: inline; font-size: 40px; line-height: 44px; letter-spacing: 0; width: 60%}
#section-head .sponsor-by {display: block; float: right; font-size: 16px; font-weight: bold; margin-top: 25px; text-transform:uppercase}

.section-action,
.section-subaction {background: url(../images/bg-section-action.jpg) repeat-x #e3f1fa; border-top: 2px solid #258eca; clear: both; margin: 0; padding:0}
.section-action li,
.section-subaction li { list-style:none; display: inline-block; _display:inline; line-height: 160%; padding: 7px 20px;}
.section-action li a {color: #333; font-size: 18px; text-shadow: 1px 1px 1px #fff}
.section-action li a:hover {text-decoration:underline}
.section-action li.selected {background: url(../images/bg-section-action-sel.jpg) repeat-x #6ebfed; border-bottom: 3px solid #ccc; margin-bottom: -10px}
.section-action li.selected a {color: #fff; text-shadow: 0px -1px 0px #333}

.section-subaction {background: #258eca; border-bottom: 2px solid #60296c; height: 18px; margin-top: 3px; padding: 6px; text-align:right}
.section-subaction li {border-right: 1px solid #fff; padding: 0 4px}
.section-subaction li:last-child {border-right: none}
.section-subaction li a {color: #e3f1fa; margin:0}
.section-subaction li a:hover {text-decoration: underline}
.section-subaction li.selected a{background: #e3f1fa; color: #258eca; padding: 2px 10px; -webkit-border-radius: 5px; -mozborder-radius: 5px; border-radius: 5px}
.section-subaction li.selected a:hover {background: #fff; text-decoration:none}
#section-body {margin: 15px 0 0; overflow:hidden}
#section-body > div {margin-bottom: 20px}
#section-body > div:last-child {margin-bottom: 0px}

/* Content - Side -------------- */
#content-side > div {margin-bottom: 15px; overflow:hidden}
#content-side h4 {font-size: 20px}

#pow-winners-box h4 {margin: 0 0 5px; font-weight: bold}
#pow-winners-box h4 span {color: #ee2d24}
#pow-winners-box ul {width: 100%; margin: 0 auto; overflow: hidden}
#pow-winners-box li {float: left; text-align: center; width: 90px; margin-bottom: 10px}
#pow-winners-box li span {display: block}
#pow-winners-box p,
#pow-winners-box a {font-size: 11px}
#pow-winners-box a,
#pow-winners-box li a span {text-decoration: underline}

#mumtools-box .box {margin-bottom: 5px}
#mumtools-box h4 {background-color: #FFF; margin: -28px auto 10px; text-align: center; width: 120px}
#mumtools-box hr {background: #60296C; border: none; height: 1px; margin: 8px 0 20px}
#mumtools-box li {float: left; height: 28px; width: 135px; margin-right: 5px; vertical-align: middle}
#mumtools-box li.box {padding:5px}
#mumtools-box li:hover {background: #e3f1fa; border: 1px solid #9cc5da}
#mumtools-box li.even {margin-right: 0}
#mumtools-box li span {background: url(../images/ico-mumtools.png) no-repeat; display: block; float: left; width: 30px; height: 30px; margin-right: 5px}
#mumtools-box li span.icon-providers {background-position: 0 0}
#mumtools-box li span.icon-benefits {background-position: -30px 0}
#mumtools-box li span.icon-schoolloc {background-position: -60px 0}
#mumtools-box li span.icon-essentials {background-position: -90px 0}
#mumtools-box li span.icon-centerloc {background-position: -120px 0}
#mumtools-box li span.icon-group {background-position: -150px 0}
#mumtools-box li a {font-size: 11px; color:#333}
#mumtools-box li:hover a {text-decoration: none}

/* Form Search, Newsletter -------------- */
#top .subscribe form,
.search form {background: url(../images/bg-search.png) no-repeat 0 -31px}
#top .subscribe input,
.search input {background: transparent; border: none; color: #999; font-size: 11px; height: 15px; width: 178px; padding: 6px}
#top .subscribe input[type=submit] {width: 30px; padding: 4px 18px}

.search {margin-right: 20px; width: 220px}
.search form {background-position: 0 0; width: 186px; height: 28px}
.search input {padding: 8px; width: 145px}
.search input[type=submit] {position: absolute; text-indent: -9999px; width: 20px; cursor: pointer}
.nav .search {float: right; width: 150px; margin-right:0}
.nav .search form {background-position: 0 -60px; width: 149px; height: 28px}
.nav .search input {padding: 8px; width: 110px}
.nav .search input[type=submit] {width:20px}

.forum h4 {font-size: 22px !important; border-bottom: 1px solid #258eca; padding-bottom: 6px; text-transform:capitalize !important}
.forum ul {margin-left: 20px}
.forum li {list-style:disc}

/* Footer -------------- */
#footer {background: #E3F1FA; border-top: 2px solid #3399CC; font-size: 11px; margin-top: 50px}
#footer .wrapper {font-size: 11px; margin: 0 auto; padding: 20px 0; width: 980px; position:relative}
#footer .wrapper a {font-size: 11px}
#footer .col1,
#footer .col2 {vertical-align: top}
#footer .col1 {width: 540px; margin: 0 40px 0 20px}
#footer .col2 {width: 380px}
#footer .col2 div {margin-bottom: 15px}

.footer-links,
#footer .copyright {padding-top: 20px}
#footer .copyright {margin-left: 20px}
.footer-links li {font-weight: bold; float: left; margin-right:15px}
.footer-links li:last-child {margin-right: 0}
.footer-links ul li {font-weight: normal; float: none; display: block}
#footer .social-share {margin-bottom: 25px; overflow:hidden}
#footer .social-share li {float: left; margin-right: 20px}
#footer .social-share a {background: url(../images/social-share.png) no-repeat 0 0;  display: block; width: 100px; height: 30px; text-indent: -9999px}
#footer .social-share a.tw-social-share {background-position:0 -32px}
#footer .social-share a.rss-social-share {background-position:0 -63px}
.locality,
.locality a {font-size: 10px !important; font-weight: bold}

.backtop {background: #3399CC; color: #fff !important; font-size: 10px !important; width: 88px; height: 18px; text-align: center; padding: 2px 6px; position:absolute; top: -22px; right: 0}
.backtop:hover {text-decoration: none; color: #E3F1FA !important}

/* Ads Styles -------------- */
/* Header Long Banner Ad */
.header-banner {padding-top: 10px}

.ads {font-size: 11px; overflow:hidden}
.ads h4,
#content-side .ads h4 {font-size: 12px; font-weight: bold; margin-bottom: 5px; text-transform: uppercase}
.ads p,
.ads a {font-size: 11px; overflow: hidden}
.ads a {text-decoration: underline}
.ads p {margin:0}
/* Mini Text Ads */
.ads-text {padding: 4px !important; width: 290px}
	.mini-three .ads-text {margin-right: 40px}
	.mini-two .ads-text {margin: 0 15px}
	.mini-one .ads-text {float: none}
.ads .last {margin-right: 0}
	.mini-one .ads-text.last {margin-bottom: 0}
.ads-text p {margin-bottom:5px}
	.mini-three > p {text-align:right}
.ads-text h4 {text-transform:capitalize}
.ads-text .img-wrapper {border:none; width: 140px; margin-right: 15px}
.ad-promo {overflow: hidden}
.ad-promo p {font-style: italic}
/* Featured Box */
.ads.features {width: 280px; margin-left: 380px}
.feat-box-more-link {position: absolute; right: 10px; top: 12px;}
.feat-box img {margin-right: 15px}
/* Sponsors Box */
.ads.sponsors {width: 360px}
.sponsor-box {width: 150px; margin-right: 15px}
.sponsor-box img {clear: right; width: 150px; height: 160px; padding: 5px 0}

/* --------------  */
.clear1,
/*.clearfix {clear: both}*/
.clearfix:after {clear: both; content: ""; display: table}
